PORT=10000
MONGODB_URI=mongodb+srv://taha_db_user:Aayyoo@cluster0.3g8ggxi.mongodb.net/portfolio?retryWrites=true&w=majority
EMAIL_USER=abdurahmant494@gmail.com
EMAIL_PASS=e l l o n s k a c k e b q m f z

CLIENT_URL=https://tahir-abduro.netlify.app

